Screen {
    layout: horizontal;
}
#left-pane {
    width: 30%;
    height: 100%;
    padding: 1;
    margin: 1;
    background: $primary;
}
#right-pane {
    width: 70%;
    height: 100%;
    padding: 1;
    margin: 1;
    background: $primary;
}
#node-tree {
    height: 100%;
}
#info-viewer {
    height: 60%;
    border: solid $accent;
    background: $secondary;
}
#command-bar {
    height: 4;
    width: 100%;
    padding: 0;
    margin: 0;
    background: $secondary;
}
#cmd-node-area {
    width: 10%;
}
#cmd-number-area {
    width: 20%;
}
#cmd-args-area {
    width: 50%;
}
#cmd-send-area {
    width: 30%;
}
#cmd-node {
    height: 3; /* border needs at least 3 */
    padding: 0;
    margin: 0;
    border: solid $accent;
    background: $secondary;
}
#cmd{
    height: 3; /* border needs at least 3 */
    padding: 0;
    margin: 0;
    border: solid $accent;
    background: $secondary;
}
#cmd-args {
    height: 3; /* border needs at least 3 */
    padding: 0;
    margin: 0;
    border: solid $accent;
    background: $secondary;
}
#log-viewer {
    height: 30%;
    border: solid $accent;
    background: $secondary;
}