Screen {
    layout: horizontal;
}
#left-pane {
    width: 30%;
    height: 100%;
    padding: 1;
    margin: 1;
    background: $primary;
}
#right-pane {
    width: 70%;
    height: 100%;
    padding: 1;
    margin: 1;
    background: $primary;
}
#node-tree {
    height: 100%;
}
#info-viewer {
    height: 60%;
    border: solid $accent;
    background: $secondary;
}
#command-bar {
    height: 3;
    width: 100%;
    padding: 1;
    margin: 0;
    border: solid $accent;
    background: $secondary;
}
#cmd-node {
    height: 1;
    width: 10%;
    padding: 1;
    margin: 1;
    border: solid $accent;
    background: $secondary;
}
#cmd{
    height: 1;
    width: 10%;
    padding: 1;
    margin: 1;
    border: solid $accent;
    background: $secondary;
}
#cmd-args {
    height: 1;
    width: 80%;
    padding: 1;
    margin: 1;
    border: solid $accent;
    background: $secondary;
}
#log-viewer {
    height: 30%;
    border: solid $accent;
    background: $secondary;
}