Screen {
    layout: horizontal;
}
#left-pane {
    width: 30%;
    height: 100%;
    padding: 1;
    margin: 1;
    background: $primary;
}
#right-pane {
    width: 70%;
    height: 100%;
    padding: 1;
    margin: 1;
    background: $primary;
}
#node-tree {
    height: 80%;
}
#time-area {
    height: 7;
    width: 100%;
    border: solid $accent;
    background: $secondary;
}
#time-switch-area {
    width: 10;
}
#time-numbers-area {
    width: 80%;
}
#timestamp {
    height: 6;
    width: 100%;
    border: none;
}
#data-tabs {
    height: 50%;
    border: solid $accent;
    background: $secondary;
}
#info-viewer {
}
#command-bar {
    height: 4;
    width: 100%;
    padding: 0;
    margin: 0;
    background: $secondary;
}
#cmd-node-area {
    width: 10%;
}
#cmd-command-area {
    width: 20%;
}
#cmd-args-area {
    width: 50%;
}
#cmd-send-area {
    width: 8;
}
#btn-send {
    min-width: 7;
    height: 3;
    border: none;
}
#cmd-node {
    height: 3; /* border needs at least 3 */
    padding: 0;
    margin: 0;
    border: solid $accent;
    background: $secondary;
}
#cmd{
    height: 3; /* border needs at least 3 */
    padding: 0;
    margin: 0;
    border: solid $accent;
    background: $secondary;
}
#cmd-args {
    height: 3; /* border needs at least 3 */
    padding: 0;
    margin: 0;
    border: solid $accent;
    background: $secondary;
}
#log-viewer {
    height: 40%;
    border: solid $accent;
    background: $secondary;
}